/** Flex */
.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.space-evenly {
  justify-content: space-evenly;
}

.flex.align-center {
  align-items: center;
}

/** Ul */
ul.row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.3em;
  line-height: 2em;
}

ul.row > li {
  margin: 0 0.2em;
  display: inline;
}
